<div class="sidebar margin-top">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <img src="{{ site.baseurl }}/assets/images/image-2.jpg" alt="Irish Society of Chartered Physiotherapists" class="img-responsive center-block">
      <p>{{ site.tagline }}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="text-center">
        {% include buttons/body-phone.html %}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h2>Our Services</h2>
      {% include general/services-nav.html %}
    </div>
  </div>
</div>
