<ul class="services-nav">
{% for node in site.data.nav %}
  {% if node.title == "Services" %}
    {% for service in node.subcategories %}
    {% capture servicepage %}{{ service.subhref }}/{% endcapture %}
    {% if page.url == servicepage %}
    <li class="active"><a href="{{ site.baseurl }}{{ service.subhref }}" class="active">{{ service.subtitle }}</a></li>
    {% else %}
    <li><a href="{{ site.baseurl }}{{ service.subhref }}">{{ service.subtitle }}</a></li>
    {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</ul>
