{% include style-rules.html %}
<section id="{% if section.unique-class != nil %}{{ section.unique-class }}{% else %}{{ section.title | slugify }}{% endif %}" class="content-section {% if 'light' == section.text-colour %} light-text{% endif %}"{{ bg-style }}>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <img class="img-responsive"src="{{ site.baseurl }}/{{ section.image }}" alt="">
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
          {{section.content}}
        <div class="contact-section">
          {% include partials/contact-list.html %}
        </div>
      </div>
    </div>
  </div>
</section>
