<nav class="navbar navbar-fixed-top">
  <div class="header-nav">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="col-md-2 hidden-xs">
            <a href="{{site.baseurl}}"><h2>{{site.title}}</h2></a>
          </div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle ghost" data-toggle="collapse" data-target="#top-nav">
              <span class="pull-left hamburger">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-fw"></i>
              </span>S
              <span class="pull-right">
                &nbsp;MENU
              </span>
            </button>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <nav id="top-nav" class="collapse navbar-collapse top-nav" role="navigation">
              <!-- Include the main navigation ul element -->
              <ul class="nav navbar-nav">
                <div class="collapse navbar-collapse dropdown-col" id="navbar-ex-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    {% include headers/nav.html %}
                  </ul>
                </div>
              </ul>
            </nav>
          </div>
          <div class="col-md-1 col-md-offset-3">
            {% include buttons/header-phone.html %}
          </div>
        </div>
      </div>
  </div>
</nav>
