.btn {
  border-radius: 0px;
}

.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 60px;
  border: solid 1px #fff;
  margin-top: 40px;
  .fa {
    color: #fff;
  }
}

.ghost {

  h2 {
    color: $button-colour;
  }

  .intro-phone {
    a {
      background: transparent;
    }
  }

  .btn,
  .intro-phone span.nonclick-phone {
    background: transparent;
    border: solid 1px $brand-primary;
    border-radius: 0px;
    color: $brand-primary
  }

}

.btn.btn-default.btn-md.ghost.services-button {

  margin-top: 20px;

}

.btn-default {
  //color: $button-colour;
  background: $phone-button-bg;
  border: none;
}

.header-buttons {
  padding-top: 5px;
  .btn-default {
    color: $navbar-colour;
  }
}

.intro-phone {

  //margin: $vertical-margin auto;

  span.nonclick-phone {
    background: $phone-button-bg;
    border: none;
    color: $button-colour;
    &:hover {
      background: darken( $phone-button-bg, 20% );
      color: $button-colour;
    }
  }
  .phone-text {
    font-size: 18px;
  }
}

.body-phone {

  //margin: $vertical-margin auto;
  padding-top: 10px;
  //font-size: 14px;
  //margin-top: 15px;
  span.nonclick-phone {
    background: $brand-primary;
    border: none;
    color: $button-colour;
    &:hover {
      background: darken( $brand-primary, 20% );
      color: $button-colour;
    }
  }
  .phone-text {
    //font-size: 24px;
  }
}

.email {
  //margin: $vertical-margin auto;
  text-transform: lowercase;
  //font-size: 14px;
  padding-top: 30px;
  //margin-top: 15px;
  span.nonclick-phone {
    background: $brand-primary;
    border: none;
    color: $button-colour;
    &:hover {
      background: darken( $brand-primary, 20% );
      color: $button-colour;
    }
  }

}

.header-phone .btn-default {

  //margin: $vertical-margin auto;
  margin-top: 5px;
  //font-size: 14px;
  margin-bottom: 0px;
  background: $brand-primary;
  border: none;
  color: $button-colour;

  &:hover {
    background: darken( $brand-primary, 10% );
    color: $button-colour;
  }

  span.nonclick-phone {
  }
  .phone-text {
    font-size: 18px;
  }
}

.ghost.btn-default {
  background: transparent;
  border: solid 1px #fff;
  color: #fff;
}

.header-buttons {

  .ghost.btn-default {
    background: transparent;
    border: solid 1px rgb(90, 86, 85);
    color: rgb(90, 86, 85);
  }

}

.click-phone {
  @media(min-width: $screen-xs-max) {
    display: none;
  }
}


.phone-text {
  //text-transform: uppercase;
  //font-size: 14px;
  //font-weight: 400;
  //letter-spacing: 2px;
}

.active-phone {
  display: none;
  position: absolute;
  right: 25px;
  top: -50px;
  font-size: 24px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform:rotate(-90deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  color: $button-colour;
}

.active-phone:hover {
  color: $button-colour;
}

.ghost, .footer {

  h2 {
    color: $button-colour;
  }

  .intro-phone {
    a {
      background: transparent;
    }
  }

  .btn,
  .intro-phone span.nonclick-phone {
    background: transparent;
    border: solid 1px #000;
  }

}

.contact-section {

  margin-top: 20px;

  .btn {

    margin-bottom: 10px;
  }

  /* Extra small screen and smaller */
  @media (max-width: $screen-xs-max) {

    position: relative;
    display: inline-block;
    vertical-align: middle;

    .btn:first-child:not(:last-child) {

      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

    }

    .btn {

      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      position: relative;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;

    }

  }

}
