.intro {

  width: 100%;

  .intro-image {

    background: $intro-background-image no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-color: $intro-background;
    padding-bottom: 50px;
    background-position:center;

  }

  .home-intro-image.bg-image {

    background: $intro-background-image no-repeat center center fixed;
    background-color: $intro-background;
    padding-top: 150px;
    padding-bottom: 100px;

    .opaque-layer {

        //background-color: rgba(0,0,255,0.5);//$light-opaque-background;

    }

  }

  .intro-body {

    color: $intro-colour;
    background-color: $intro-background;
    font-size: 18px;
    padding-top: $vertical-padding-intro;
    padding-bottom: $vertical-padding-intro;
    vertical-align: middle;

    h2 {
      //color: #fff;
      font-size: 45px;
      margin-top: 0px;
      margin-bottom: 30px;
    }

    .intro-phone-header {
      font-size: 30px;
    }

    .well {
      //background: $intro-well-background;//transparent;
      //background: rgba( 255, 255, 255, 0.6 );
      //color: darken($dark-grey, 10%);
      border: none;
      box-shadow: none;
      padding-right: 0;
      //padding-top: 60px;
      padding: 40px;
      margin-top: 80px;
    }

    /* Large screen & Bigger */
    @media (min-width: $screen-lg) {
      //
    }
    /* Medium screen and smaller */
    @media (max-width: $screen-md-max) {
      //
    }
    /* Small screen and smaller */
    @media (max-width: $screen-sm-max) {

      .well {
        padding-top: 20px;
        margin-top: 10px;
      }

    }
    /* Extra small screen and smaller */
    @media (max-width: $screen-xs-max) {
      //
    }
    /* smaller than Extra small screen */
    @media (max-width: ($screen-xs - 1)) {
      //
    }

    .brand-heading {
      font-size: 30px;
      color: #fff;
    }

    .main-tagline {
      font-size: 30px;
    }

    .intro-text {
      font-size: 18px;
    }

  }

  /* Small screen and smaller */
  @media (max-width: $screen-sm-max) {

    .intro-image {
      padding-bottom: 60px;
    }

  }


}

.section {
  position: relative;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;

  h2 {
    margin-top: 0px;
  }

  h2.call-to-action {
    margin: 40px 0;
  }

}

.text-inverse.intro-section {
  color: rgba(0, 0, 0, 0.76);

  h2 {
    color: rgba(0, 0, 0, 0.76);
  }

  ul li:before {
    color: rgba(0, 0, 0, 0.76);
  }

}

.services-bg {

  //background: $services-background-image no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: desaturate($brand-primary, 10%);
  //padding-top: 150px;
  //padding-bottom: 380px;
  background-position:center;

}


.services {

    background: lighten(rgb( 41, 48, 62), 10%);
    color: #fff;
    border: none;

    a {
      //color: $light-grey;
      &:hover {
        text-decoration: underline;
        opacity: 0.7;
      }

    }

}

// Media Queries
// -----------------------------------------------------------------------------
/* Large screen & Bigger */
@media (min-width: $screen-lg) {
  //
}
/* Medium screen and smaller */
@media (max-width: $screen-md-max) {
  //
}
/* Small screen and smaller */
@media (max-width: $screen-sm-max) {
  .intro-body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* Extra small screen and smaller */
@media (max-width: $screen-xs-max) {
  .section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .intro .well {
    margin-top: 90px;
  }
}
/* smaller than Extra small screen */
@media (max-width: ($screen-xs - 1)) {
  //
}
