.inline-container {

  text-align: justify;
  font-size: 0;
  margin-top: 40px;

}

.inline-container:after {

  content: '';
  display: inline-block;
  width: 100%;

}

.inline-container .item,
.inline-container .gridbreak,
.inline-container .gap {

  display: inline-block;
  width: 49%;
  vertical-align: top;

}

.inline-container .item {

  vertical-align: top;
  text-align: left;
  margin-bottom: 20px;
  font-size: $font-size-base;
  //background: rgba( $gray-lighter, 0.6 );
  padding: 20px;

  .single-brand-page & {

    background: inherit;
    padding: 0;
    border: solid 20px $gray-lighter;

  }

  .teaser-text {

    background: $gray-lighter;
    padding: 20px 0;

  }

  p {

    font-size: 16px;

  }

  h2 > a {

    text-decoration: none;

  }

}

.inline-container#mixitup-container {

    .item {

      // -----------------------------------------------------------------------
      #display: none; //<-- uncomment this rule for use with MixItUp */
      // -----------------------------------------------------------------------

    }

  }

.products.inline-container .item {

  padding: 10px;

  h2 {

    margin-top: 0;
    font-size: 20px;
    line-height: 20px;

  }

}

/* Large screen & Bigger */
@media (min-width: $screen-lg) {
  .inline-container .item,
  .inline-container .gridbreak,
  .inline-container .gap {
    width: 32%;//23.5%;
  }
  .products.inline-container .item,
  .products.inline-container .gap {
    width: 100%;//23.5%;
    font-size: 16px;
  }
}
/* Medium screen and smaller */
@media (max-width: $screen-md-max) {
  .inline-container .item,
  .inline-container .gap {
    width: 32%;//23.5%;
  }
}
/* Small screen and smaller */
@media (max-width: $screen-sm-max) {
  .inline-container .item,
  .inline-container .gap {
    width: 32%;
  }
}
/* Extra small screen and smaller */
@media (max-width: $screen-xs-max) {
  .inline-container .item,
  .inline-container .gap {
    width: 48%;
  }
}
/* smaller than Extra small screen */
@media (max-width: ($screen-xs - 1)) {
  .inline-container .item,
  .inline-container .gap {
    width: 100%;
  }
}
