ul.services-nav {

  margin-left: 0;
  padding-left: 0;
  //margin-top: 40px;
  margin-bottom: 40px;
  list-style-type: none;

  li {
    padding: 0 0 0 30px;
    display: block;
    position: relative;
    margin-left: 0;
    margin-bottom: 5px;
  }

  li > a {

    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: underline;

    &:hover {

      text-decoration: none;

    }

  }

  li:before {
    font-family: 'FontAwesome';
    list-style-type: none;
    //color: #fff;
    position: absolute;
    left: 0;
    top: 1px;
    font-size: 18px;
    //content: "\f101"; // double right angle
    //content: "\f105"; // single right angle
    content: "\f054"; // single right angle
  }

}

ul.project-info {

  background: $gray-lighter;
  padding: 20px;

  li {

    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px $gray-light;

  }

}
