<span class="hidden-xs">
  <a href="mailto:{{ site.data.contact[0].email }}" title="Click to Email us - opens your default email programme.">
    <i class="fa fa-envelope"></i> {{ site.data.contact[0].email-text }}
  </a>
</span>
<span class="hidden-sm hidden-md hidden-lg">
  <a href="mailto:{{ site.data.contact[0].email }}" class="btn btn-default ghost" title="Click to Email us - opens your default email programme.">
    <i class="fa fa-envelope"></i> {{ site.data.contact[0].email-text }}
  </a>
</span>
