<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div itemscope itemtype="http://schema.org/LocalBusiness">
          {% for item in site.data.company-details %}
          <h3><span itemprop="name">{{ item.company-name }}</span></h3>
          {% endfor %}
          {% include general/address.html %}
          {% include general/company-details.html %}
          <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="52.892491" />
            <meta itemprop="longitude" content="-8.867443" />
          </span>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <h3>Site Links</h3>
          {% include general/pages-nav.html %}
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="row">
          <h3 class="hidden-xs">Contact Us</h3>
        </div>
          {% include footers/footer-contact-buttons.html %}
      </div>
      <div class="cw-credit col-md-12">
        <p>Website by <a href="http://carawebs.com/">Carawebs</a></p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="#" id="go-top" title="Back to top of this page">
      <i class="fa fa-chevron-up"></i><br><span class="go-top-text">Top</span>
    </a>
  </div>
  {% include calls-to-action/click-to-call-footer.html %}
</footer>
{% include footers/footer-scripts.html %}
