<div class="row">
  {% for item in site.data.contact %}
  <div class="col-md-12 hidden-xs">
    <ul class="icon-list">
      {% if item.contact-mobile-number != nil %}
      <li><a class="social-icons" href="{{ item.contact-mobile-number }}" title="Call our mobile"><i class="fa fa-fw fa-mobile"></i>Call our mobile&nbsp;</a></li>
      {% endif %}
      {% if item.contact-landline-number != nil %}
      <li><a class="social-icons" href="{{ item.landline-mobile-number }}" title="Call our landline"><i class="fa fa-fw fa-phone"></i>Call our landline&nbsp;</a></li>
      {% endif %}
      {% if item.main-email-address-1 != nil %}
      <li><a class="social-icons" href="{{ item.main-email-address-1 }}" title="Emmail us"><i class="fa fa-fw fa-envelope"></i>Email us&nbsp;</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="col-md-12 hidden-sm hidden-md hidden-lg text-left">
    <div class="btn-group-vertical">
      {% if item.contact-mobile-number != nil %}
      <a class="social-icons btn btn-block" href="{{ item.contact-mobile-number }}" title="Call our mobile">Call our mobile&nbsp;<i class="fa fa-fw fa-phone"></i></a>
      {% endif %}
      {% if item.contact-landline-number != nil %}
      <a class="social-icons btn btn-block" href="{{ item.landline-mobile-number }}" title="Call our landline">Call our landline&nbsp;<i class="fa fa-fw fa-phone"></i></a>
      {% endif %}
      {% if item.main-email-address-1 != nil %}
      <a class="social-icons btn btn-block" href="{{ item.main-email-address-1 }}" title="Emmail us">Email us&nbsp;<i class="fa fa-fw fa-envelope"></i></a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
