<div class="row services services-bg">
  <div class="section" id="internal-main">
    <div class="container">
      <div class="col-md-12">
        <h2 class="text-center"><span>Services</span></h2>
      </div>
      {% if site.service-layout == "half" %}
      {% assign colno = 5 %}
      {% assign offset = 2 %}
      {% endif %}
      {% if site.service-layout == "third" %}
      {% assign colno = 4 %}
      {% endif %}
      {% if site.service-layout == "quarter" %}
      {% assign colno = 3 %}
      {% endif %}
      {% assign pages = site.pages | sort: 'order' %}
      {% for page in pages %}
      {% if page.layout == 'services-page' %}
      <div class="col-md-{{colno}}{% if offset ==2 %}{% cycle '', ' col-md-offset-2' %}{% endif %}">
        <div class="service-intro">
          <a href="{{ site.baseurl }}{{ page.url }}" class="image-link" title="{{ page.title }}">
            <img src="{{ site.baseurl }}/{{ page.image }}" height="512" width="768" class="img-responsive" alt="{{ page.title }}" title="{{ page.title }}">
            <!--<img class="img-responsive" src="{{ site.baseurl }}/{{ service.image }}" alt="{{ service.title }}" title="{{ service.title }}" height="512" width="768">-->
          </a>
          <h3>{{ page.title }}</h3>
          {{ page.excerpt }}
          <br><a class="btn btn-default btn-md ghost services-button" href="{{ site.baseurl }}{{ page.url }}">More Info&nbsp;&raquo;</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
