<div class="intro text-center">
  <div class="intro-body bg-image home-intro-image" id="fouc">
    <script type="text/javascript">document.getElementById("fouc").style.display="block";</script>
    <div class="opaque-layer"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="jumbotron">
            <h2>{{site.tagline}}</h2>
            {% markdown content/frontpage/intro-section.md %}
            <a href="#internal-main" class="btn btn-circle page-scroll">
              <i class="fa fa-chevron-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
